<!DOCTYPE html>
<html>
    <head>
        <% include ../layout/header.ejs %>
    </head>
    <body>
        <% include ../layout/topbar.ejs %>

        <% include ../layout/menu.ejs %>

        <% include ../layout/footer.ejs %>
    </body>
        <% include ../layout/script.ejs %>
</html>