<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!-- 头部 -->
    <% include header.ejs %>
</head>
<body class="home-template">
<!-- 导航条 -->
<% include navbar.ejs %>

<!-- 页脚 -->
<% include footer.ejs %>

<!-- 页面主要内容 -->
<div class="login">

</div>

<!-- 脚本 -->
<% include javascript.ejs %>
</body>
</html>