<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <% include header.ejs %>
</head>
<body class="home-template">

<!-- 导航条 -->
<% include navbar.ejs %>
<div class="page-header">

</div>
<!-- 页面主体 -->
<div class="container">
    <form class="form-signin" role="form" style="max-width:450px; margin:0 auto;" action="/forget" method="post">
        <h3 class="form-signin-heading">快速找回密码</h3>
        <input type="email" name="email" class="form-control" placeholder="注册邮箱" required autofocus>
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">快速找回</button>
    </form>
</div> <!-- /container -->
<!-- 页脚 -->
<% include footer.ejs %>

<!-- 脚本 -->
<% include javascript.ejs %>
</body>
</html>
