<meta charset="utf-8">
<title>Node.js 学习网</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="为喜欢Node.js或者web的朋友们分享更多更好的东西">
<meta name="keywords" content="WEB，WEB开发，Node.js,javascript,express,mongodb">
<meta name="author" content="Node.js学习网">
<meta name="robots" content="index,follow">
<meta name="application-name" content="easynode.com">
<meta property="qc:admins" content="1603466166416277433363757477167" />

<!-- Site CSS -->
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../bootstrap/css/font-awesome.min.css" rel="stylesheet">
<link href="../bootstrap/css/site.min.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="/assets/js/html5shiv.min.js?v=1269afa987"></script>
<script src="/assets/js/respond.min.js?v=1269afa987"></script>
<![endif]-->

<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" href="http://static.bootcss.com/www/assets/ico/apple-touch-icon-precomposed.png">
<link rel="shortcut icon" href="http://static.bootcss.com/www/assets/ico/favicon.png">
<style>
    .jumbotron{
        background: #4BDADA;
        background: -moz-linear-gradient(45deg,#4BDADA 0,#095741 100%);
        background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#4BDADA),color-stop(100%,#095741));
        background: -webkit-linear-gradient(45deg,#4BDADA 0,#095741 100%);
        background: -o-linear-gradient(45deg,#4BDADA 0,#095741 100%);
        background: -ms-linear-gradient(45deg,#4BDADA 0,#095741 100%);
        background: linear-gradient(45deg,#4BDADA 0,#095741 100%);
    }
</style>
<script>
    var _hmt = _hmt || [];
</script>

