<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <% include header.ejs %>
</head>
<body class="home-template">

<!-- 导航条 -->
<% include navbar.ejs %>
<div class="page-header">

</div>
<!-- 页面主体 -->
<div class="container">
    <form class="form-signin" role="form" style="max-width:450px; margin:0 auto;">
        <h3 class="form-signin-heading">已经向您的邮箱发送了邮件</h3>

        <br/>

        <h3 class="form-signin-heading">快去查看您的邮箱吧</h3>
    </form>
</div> <!-- /container -->
<!-- 页脚 -->
<% include footer.ejs %>

<!-- 脚本 -->
<% include javascript.ejs %>
</body>
</html>
