<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!-- 头部 -->
    <% include header.ejs %>
</head>
<body class="home-template">
<!-- 导航条 -->
<% include navbar.ejs %>
<div class="page-header">
    <div class="container">
        <h2>账号管理</h2>
    </div>
</div>
<!-- 页面主要内容 -->
<div class="container bs-docs-container">
    <div class="row">
        <div class="col-xs-2 col-md-2">
            <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm" role="complementary">
                <ul class="nav bs-docs-sidenav">
                    <li><a href="/baseInfo">基本信息</a></li>
                    <li><a href="/loginSafe">账号安全</a></li>
                    <li><a href="/pushData">资源共享</a></li>
                    <li><a href="/pushCase">案例发布</a></li>
                    <li><a href="/pushTour">教程发布</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-10 col-md-10" role="main">


        </div>
    </div>
</div>

<!-- 页脚 -->
<% include footer.ejs %>

<!-- 脚本 -->
<% include javascript.ejs %>
</body>
</html>