<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <% include header.ejs %>
</head>
<body class="home-template">

<!-- 导航条 -->
<% include navbar.ejs %>


<div class="categroy masthead">
    <div class="container">
        <!-- 分类导航 -->
        <div class="row">
            <div class="col-ls-4">

            </div>
            <div class="col-ls-4">

            </div>
            <!-- 右上角搜索 -->
            <div class="col-lg-4">
                <form class="bs-example bs-example-form" role="form" action="/searchTour" method="get">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">分类<span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">作者</a></li>
                                <li class="divider"></li>

                                <li><a href="#">主题</a></li>
                                <li class="divider"></li>
                                <li><a href="#">内容</a></li>
                            </ul>
                        </div><!-- /btn-group -->
                        <input type="text" class="form-control">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span>&nbsp;<span>搜索</span></button>
                        </div>
                    </div><!-- /input-group -->
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container projects">
    <div class="projects-header "></div>
    <div class="row">

        <div class="col-sm-6 col-md-4 col-lg-3 ">
            <div class="thumbnail">
                <a href="http://codeguide.bootcss.com" title="Bootstrap 编码规范" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'codeguide'])"><img class="lazy" src="http://static.bootcss.com/www/assets/img/null.png?v2" width="300" height="150" data-src="http://static.bootcss.com/www/assets/img/codeguide.png" alt="Headroom.js"></a>
                <div class="caption">
                    <h3>
                        <a href="http://codeguide.bootcss.com" title="Bootstrap 编码规范：编写灵活、稳定、高质量的 HTML 和 CSS 代码的规范。" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'codeguide'])">Bootstrap 编码规范<br><small>by @mdo</small></a>
                    </h3>
                    <p>
                        Bootstrap 编码规范：编写灵活、稳定、高质量的 HTML 和 CSS 代码的规范。
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 ">
            <div class="thumbnail">
                <a href="http://job.bootcss.com/" title="Bootstrap中文网携手猎聘网共同为码农打造的高薪工作直达频道。好工作都在这里啦！" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'job'])"><img class="lazy" src="http://static.bootcss.com/www/assets/img/null.png?v2" width="300" height="150" data-src="http://static.bootcss.com/www/assets/img/bootstrap-jobs.png" alt="招聘求职"></a>
                <div class="caption">
                    <h3>
                        <a href="http://job.bootcss.com/" title="Bootstrap中文网携手猎聘网共同为码农打造的高薪工作直达频道。好工作都在这里啦！" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'job'])">招聘求职<br><small>高薪工作</small></a>
                    </h3>
                    <p>
                        Bootstrap中文网携手猎聘网共同为码农打造的高薪工作直达频道。好工作都在这里啦！
                    </p>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3 ">
            <div class="thumbnail">
                <a href="/p/buttons/" title="基于 Sass 和 Compass 构建的CSS按钮（button）样式库" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'button'])"><img class="lazy" src="http://static.bootcss.com/www/assets/img/null.png?v2" width="300" height="150" data-src="http://static.bootcss.com/www/assets/img/buttons.png" alt="Buttons"></a>
                <div class="caption">
                    <h3>
                        <a href="/p/buttons/" title="基于 Sass 和 Compass 构建的CSS按钮（button）样式库" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'button'])">Buttons<br><small>CSS按钮样式库</small></a>
                    </h3>
                    <p>
                        Buttons 是一个基于 Sass 和 Compass 构建的CSS按钮（button）样式库，图标采用的是<a href="/p/font-awesome/" target="_blank">Font Awesome</a>，可以和Bootstrap融合使用。
                    </p>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3 ">
            <div class="thumbnail">
                <a href="/p/lesscss/" title="LESS一种动态样式语言" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'lesscss'])"><img class="lazy" src="http://static.bootcss.com/www/assets/img/null.png?v2" width="300" height="150" data-src="http://static.bootcss.com/www/assets/img/lesscss.png" alt="LESSCSS"></a>
                <div class="caption">
                    <h3>
                        <a href="/p/lesscss/" title="Grunt是基于Node.js的项目构建工具。" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'lesscss'])">LESS<br><small>一种动态样式语言</small></a>
                    </h3>
                    <p>
                        LESS为CSS赋予了动态语言的特性，如变量、继承、运算、函数。LESS既可以在客户端上运行 (支持IE 6+、Webkit、Firefox)，也可以借助Node.js或者Rhino在服务端运行。
                    </p>
                </div>
            </div>
        </div>

    </div>
</div><!-- /.container -->

<% include footer.ejs %>

<% include javascript.ejs %>
</body>
</html>
